@import './icons.css';
@import './variables.css';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--background-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 12px;
  max-width: 768px;
}

/* personas classes*/
.persona-danielle {
  background-image: url('../assets/image/danielle.png');
}

.persona-matthew {
  background-image: url('../assets/image/matthew.png');
}

.persona-amy {
  background-image: url('../assets/image/amy.png');
}

.persona-emma {
  background-image: url('../assets/image/emma.png');
}

.persona-brian {
  background-image: url('../assets/image/brian.png');
}

.persona-niamh {
  background-image: url('../assets/image/niamh.png');
}

.persona-ayanda {
  background-image: url('../assets/image/ayanda.png');
}

.persona-ruth {
  background-image: url('../assets/image/ruth.png');
}

.persona-gregory {
  background-image: url('../assets/image/gregory.png');
}

.persona-not-found {
  background-image: url('../assets/image/person-not-found.png');
}
