.arrow {
  background-image: url('../assets/svg/user-icons/arrow.svg');
}

.icon-profile {
  background-image: url('../assets/svg/user-icons/profile-name.svg');
}

.flag-england {
  background-image: url('../assets/svg/flags/england.svg');
}

.flag-usa {
  background-image: url('../assets/svg/flags/united-states.svg');
}

.flag-ireland {
  background-image: url('../assets/svg/flags/ireland.svg');
}

.south-africa {
  background-image: url('../assets/svg/flags/south-africa.svg');
}
