.arrow {
  background-image: url('../assets/svg/user-icons/arrow.svg');
}

.icon-profile {
  background-image: url('../assets/svg/user-icons/profile-name.svg');
}

.flag-gb-england {
  background-image: url('../assets/svg/flags/gb-england.svg');
}

.flag-usa {
  background-image: url('../assets/svg/flags/usa.svg');
}
