.persona-joanna {
  background-image: url('../assets/image/joanna.png');
}

.persona-matthew {
  background-image: url('../assets/image/matthew.png');
}

.persona-amy {
  background-image: url('../assets/image/amy.png');
}

.persona-emma {
  background-image: url('../assets/image/emma.png');
}

.persona-brian {
  background-image: url('../assets/image/brian.png');
}

.persona-nicole {
  background-image: url('../assets/image/nicole.png');
}

.persona-aditi {
  background-image: url('../assets/image/aditi.png');
}

.persona-salli {
  background-image: url('../assets/image/salli.png');
}

.persona-joey {
  background-image: url('../assets/image/joey.png');
}

.persona-russell {
  background-image: url('../assets/image/russell.png');
}

.persona-raveena {
  background-image: url('../assets/image/raveena.png');
}

.persona-geraint {
  background-image: url('../assets/image/geraint.png');
}

.persona-not-found {
  background-image: url('../assets/image/person-not-found.png');
}
