:root {
  --background-color: #ffffff;

  --black-primary: #141718;
  --black-secondary: #23262f;
  --black-ternary: #2f2f2f;

  --gray-primary: #616161;
  --gray-secondary: #8e9295;
  --gray-ternary: #494949;

  --white-primary: #ffffff;
}
