.step-1 {
  background-image: url('../assets/image/steps/step-1.png');
}

.step-2 {
  background-image: url('../assets/image/steps/step-2.png');
}

.step-3 {
  background-image: url('../assets/image/steps/step-3.png');
}
