@import '../../styles/global.css';

.wrapper-persona-card {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 25px 10px;
}

.wrapper-persona-card > persona-card {
}
